.countries-block {
    display: inline-block;
    width: 20%;
    margin: 10px 0;
    float:left;
    overflow-y: auto;
    height: 600px;
}

.countries-block::-webkit-scrollbar {
    width: 10px;
}

.countries-block::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Track */
.countries-block::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.countries-block::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
.countries-block::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.countries-list {
    display: block;
    padding: 2px 6px;
    margin: 6px 10px;
    list-style: none;
}